@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Press+Start+2P&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}
:root
{
    --primary: #3fefef
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1c1c1b;
    flex-direction: column;
}
h1
{
    color: var(--primary);
    font-size: 2.5em;
    margin-top: 20px;
    animation: blink 1s infinite ease;
}
.progressing
{
    width: 240px;
    height: 44px;
    border-radius: 20px;
    color: var(--primary);
    border: 4px solid currentColor;
    position: relative;
}
.progressing::before
{
    content: '';
    position: absolute;
    margin: 4px;
    background: currentColor;
    inset: 0 100% 0 0;
    border-radius: inherit;
    animation: progressing 2s infinite;
    filter: drop-shadow(0 0 20px var(--primary));
}

/* Add Animation */

@keyframes progressing
{
    100%
    {
        inset: 0;
    }
}

@keyframes blink{
    50%
    {
        opacity: 0;
        visibility: hidden;
    }
    
}